/* Tab Navigation */
.tabNav {
  display: flex;
  /* background: #f8fafc; */
  /* background: linear-gradient(135deg, #ffd700, #ffed4e); */
  /* color: #000; */
  border-bottom: 1px solid #e2e8f0;
  padding: 0.5rem;
}

.tabButton {
  flex: 1;
  padding: 1rem 1.5rem;
  border: none;
  background: transparent;
  /* color: #64748b; */
  color: rgba(255, 255, 255, 0.9);

  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all 0.3s ease;
  border-radius: 12px;
}

.tabButton:hover {
  /* color: #3b82f6; */
  color: white;
  /* background: rgba(59, 130, 246, 0.1); */
  background: 0 8px 25px rgba(255, 215, 0, 0.4),
    0 0 0 3px rgba(255, 215, 0, 0.3);
}

.activeTab {
  color: gold;
  background: rgba(221, 218, 218, 0.459);
  box-shadow: 0 2px 8px rgba(59, 130, 246, 0.2);
}

.tabIcon {
  font-size: 1.2rem;
}

/* Tab Content */
.tabContent {
  padding: 2rem;
}
