.headerContainer {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
  /* background: #ffffff; */
  background: linear-gradient(135deg, #1e293b 0%, #0f172a 100%);
  border-radius: 12px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.08);
}

/* LEFT SIDE */
.leftSection {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #cfd1371c;
  margin: 0;
}

.subtitle {
  font-size: 0.95rem;
  color: #ddda14;
  margin: 0;
}

/* RIGHT SIDE DETAILS */
.rightSection {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  justify-content: center;
}

.infoRow {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #e2e8f0;
  padding-bottom: 3px;
}

.label {
  font-size: 0.9rem;
  font-weight: 600;
  color: #eff0f1;
}

.value {
  font-size: 0.9rem;
  color: #e4e7eeda;
  font-weight: 500;
}

/* --- RESPONSIVE --- */
@media (max-width: 900px) {
  .headerContainer {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .rightSection {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }

  .infoRow {
    justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 1.4rem;
  }

  .subtitle {
    font-size: 0.85rem;
  }

  .infoRow {
    flex-direction: column;
    text-align: left;
    gap: 2px;
  }
}
